body {
    background-color: #ffff99;
    font-family: Helvetica, sans-serif;
    margin-right: 40%;
    margin-bottom: 30px;
    margin-left: 40px;
}
 
h1 {
    font-family: Impact, sans-serif;
    font-size: 3em;
    color: #ff6600;
    border: 3px #ff6600 solid;
    padding: 10px;
    margin-bottom: 30px;
}
 
 
h2 {
    background-color: #ff6600;
    font: serif;
    color: #ffff99;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
}
 
ol {
    background-color: #ffcc00;
    color: #ffff99;
    font-weight: bold;
    
}
 
li {
    padding: 5px;
    padding-right: 30px;
 
}
 
p {
    border: 3px #ffcc00 dotted;
    padding: 10px;
    font-weight: 500;
}
